---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Colinaut Blog';
let description = "Ye old blog";
let permalink = 'https://www.colinaut.com/blog';

// Data Fetching: List all Markdown posts in the repo.
let allPosts = Astro.fetchContent('./posts/*.md');
// console.log(allPosts)
allPosts = allPosts.sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
    <link rel="stylesheet" type="text/css" href={Astro.resolve("../styles/global.css")}>
  </head>

  <body class="">
    <div class="grid max-w-screen-xl mx-auto sm:grid-cols-2">
      <div class="py-base">
        <a href="/"><img src="/assets/portrait-lg.jpg" alt="Illustration of me"></a>
      </div>
      <article class="px-6 py-md">
          <h1 class="text-4xl font-bold text-wine-700 mb-base">{title}</h1>
          <div class="prose"><p>Here are all the various blog posts going back to the first iteration of this site from 2006. There's a lot of old junk in there that you won't care about &mdash; <em>I certainly don't</em>. I'm not sure if I will update this blog much either. I'm mostly keeping the posts up for posterity sake.</p></div>
        <section class="my-base">
          {allPosts.map(p => <BlogPostPreview post={p} />)}
        </section>
      </article>
    </div>
  </body>
</html>
