---
// Component Imports
import BaseHead from "../components/BaseHead.astro";
import BlogHeader from "../components/BlogHeader.astro";
import BlogPostPreview from "../components/BlogPostPreview.astro";

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = "Colinaut";
let description =
  "I wear a lot of hats… artist, medical/technical illustrator, and designer with experience in print, branding, XD, game design, and web design; and I am a frontend fullstack-ish web developer. My life is full of creativity. My friends are rad. (he/him)";
let permalink = "https://www.colinaut.com/";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
    <link rel="stylesheet" type="text/css" href={Astro.resolve("../styles/global.css")} />
    <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
  </head>

  <body class="">
    <div class="grid max-w-screen-xl mx-auto sm:grid-cols-2">
      <div class="py-base">
        <a href="/"><img src="/assets/portrait-lg.jpg" alt="Illustration of me" /></a>
      </div>
      <article class="px-6 py-md">
        <h1 class="text-6xl font-bold text-wine-700 mb-base">{title}</h1>
        <div class="prose">
          <p>{description}</p>
          <hr />
          <p>
            Not much to show here at the moment, as this site is currently being rebuilt. I've ripped all the content
            out of my old Wordpress site and am currently rebuilding it in <a href="https://astro.build">Astro</a>.
          </p>
          <p>You can follow me on Mastodon <a href="https://dice.camp/@colinaut" rel="me">@colinaut@dice.camp</a></p>
          <p>
            I've quit using Twitter — for reasons. You can find all my tweets on my <a
              href="https://twitter.colinaut.com">@colinuat Twitter Archive</a
            > (built thanks to <a href="https://github.com/tweetback">Tweetback</a>)
          </p>
          <p>You can find my game design stuff at <a href="https://www.mirthpeddlers.com">Mirth Peddlers</a>.</p>
          <p>
            All my code including code for this site is on <a href="https://github.com/colinaut" rel="me">github</a>
          </p>
          <p>
            This site used to have a portfolio of my web design, logo design, medical and technical illustration, and a
            cocktail list. I'm planning most of it back but it's low priority.
          </p>
          <p>
            You can find my old dusty blog posts at <a href="/blog">Ye Old Blog</a>. The last blog post I wrote was in
            2015. Not sure if I will start blogging again here or not.
          </p>
          <hr />
          <p>
            <em
              >Portriat of me is by <a href="https://www.outtathinairstudio.com"
                >Outta Thin Air Studio, Muriel Fahrion</a
              >, who is my amazing mother!
            </em>
          </p>
        </div>
      </article>
    </div>
  </body>
</html>
